/* Avenir */
@font-face {
 font-family: 'Avenir';
 src: 
  url ('https://kilianPRDT.github.io/AvenirGit/AvenirLTStd-Light.otf') format('otf');
 
 font-style: normal;
 font-weight: normal;
 
}
 
