/* Avenir */

@font-face {
 font-family: 'Avenir Oblique';
 src: 
  url('https://kilianPRDT.github.io/AvenirGit/AvenirLTPro-Oblique.woff') format('woff');
 font-weight: normal;
 font-style: normal; 
}