/* Avenir */

@font-face {
 font-family: 'Avenir Light';
 src: 
  url('https://kilianPRDT.github.io/AvenirGit/AvenirLTPro-Light.woff') format('woff');
 font-weight: normal;
 font-style: normal; 
}

