/* Avenir */
@font-face {
 font-family: 'Avenir';
	
 font-style: normal;
 font-weight: normal;
 font-display: swap;
src: url ('https://kilianPRDT.github.io/AvenirGit/Linotype - AvenirLTStd-HeavyOblique.otf') format('otf');

 
